.categoryNodeContainer {
  display: flex;
  align-items: center;

  .roundArrowButton {
    display: flex;
    align-items: center;

    $TRANSITION_DURATION: 200ms;

    .rotateRoundArrowUp {
      transform: rotate(180deg);
      transition-duration: $TRANSITION_DURATION;
    }

    .rotateRoundArrowDown {
      transform: rotate(0deg);
      transition-duration: $TRANSITION_DURATION;
    }
  }
}

.categoryLabel {
  margin-left: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
}

.selectedCategory {
  color: #0069b4;
}

.descendantsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem 0;
  padding-left: 3rem;
}
