$TRANSITION_DURATION: 200ms;

.categoryNodeContainer {
  display: flex;
  align-items: center;

  .categoryLabel {
    margin-left: 1rem;
    font-size: 2rem;
    font-weight: 700;
  }

  .selectedCategory {
    color: #0069b4;
  }

  .rotateRoundArrowUp {
    transform: rotate(180deg);
    transition-duration: $TRANSITION_DURATION;
  }

  .rotateRoundArrowDown {
    transform: rotate(0deg);
    transition-duration: $TRANSITION_DURATION;
  }
}

.descendantsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem 0;
  padding-left: 3rem;
}
